<div class="container">
  <div class="card">
    <h2>Movie App Login</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Enter your email">
      </div>

      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
        />

        <button
          type="button"
          class="password-toggle"
          (click)="showPassword = !showPassword"
        >
          {{ showPassword ? 'Hide' : 'Show' }}
        </button>
      </div>
      <br>
      <button type="submit" class="btn-primary">Login</button>
      <button type="button" class="btn-primary" (click)="goToRegister()">Create account</button>
    </form>

    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
</div>