.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.movie-card {
  background: #1e1e1e;
  padding: 16px;
  border-radius: 10px;
}

.movie-content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.movie-poster {
  width: 140px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.movie-info {
  flex: 1;
}

.year {
  color: #aaa;
  margin-bottom: 10px;
}

.btn-primary {
  background: #ff9800;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: #ff5a5a;
}

.success {
  color: #5ad17b;
}


select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}